html,
body.white {
    background: white
}

a.hand {
    cursor: pointer;
}

.pt-60 {
    margin-top: 60px;
}

.loading {
    position: fixed;
    top: 45%;
    left: 45%;
}

@media screen and (max-width: 767px) {
    .mobile-space {
        padding-top: 150px;
    }
}

.spinner-loading {
    position: fixed;
    top: 55%;
    left: 65%;
}

.last-loading {
    position: fixed;
    top: 75%;
    left: 35%;
}
