html,
body.white {
    background: white
}

a.hand {
    cursor: pointer;
}

.pt-60 {
    margin-top: 60px;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 767px) {
    .mobile-space {
        padding-top: 150px;
    }
}
