html,
body.white {
    background: white
}

a.hand {
    cursor: pointer;
}

.pt-60 {
    margin-top: 60px;
}

.loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}